EVGEN/
FULL/
LOG/
HOLD/
RECO/
*.csv
*.log
*.submit
environment.sh
environment-*.sh
config.json
config.json.old
config/
secrets/
fieldmaps/
share/
tracking_geometry.obj
all_flags_dump_from_run.py
JobReport
.gwms-user-job-wrapper.sh
